
.titleLine{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 48px;
}
	
.container{
	text-align: center;
	font-weight: bolder;
	font-size: 24px;
	font-family: 'Josefin Sans', sans-serif;
}

#button{
	font-size: 24px;
	margin:10px;
	font-family: 'Josefin Sans', sans-serif;
	background: #9b1c0d;
	color: white;
}

#add-topic{
	font-size: 24px;
	color: #9b1c0d;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

#topic-input{
	margin: 20px;
	background: #E0DFE0;
	font-family: 'Josefin Sans', sans-serif;
}

#gifs-appear-here {
	clear: both;
	margin-top: 30px;
}

#back-to-top {
color: #9b1c0d;
margin-top: 150px;
font-size: 18px;
}
/*.item{
	float: left;
	overflow:auto;
	margin: 50px;
	}*/